

.precioAlto{
    color: blue !important;
    font-size: 15px !important;
}

.fondoAzul{
    background: blue;
}

.subrayado{
    background: blueviolet;
}

.active{
  border: 3px solid yellowgreen;
}
